header.navbar {
    background: #197052;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #146c54;
  }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  nav a:hover {
    color: #146c54;
  }
  